@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Data.Model.AccountDetail>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model)
    {
        @if (item != null)
        {
             <ul>
            <li>@item.name</li>
         </ul>
        }
    }
   
</div>
